<div class="about-show">
<h1 class="page-header">About Us</h1>
<p>Welcome to Jungle! An online plant store<p>

<p>Our goal is to make shopping for plants easy, fun, and accessible to more people, especially those who don't think they're "plant people". We believe there's a plant out there for everyone and I want to help you find the perfect one for your home without the anxiety that you're going to kill it, or all the hassle of driving to a garden centre and getting dirt everywhere. Who has time for dirt?! </p>

<p>Thank you for choosing Jungle!</p>

</div>